<!-- NavBar.vue -->
<template>
    <nav> 
        <ul>
            <li v-if="typeUserMatches('client')"><router-link to="/salons-list">Salons</router-link></li>
            <li v-if="typeUserMatches('client')"><router-link to="/mes-rdv">Mes rendez-vous</router-link></li>
            <li v-if="typeUserMatches('professionnel')"><router-link to="/create-coiffeur">Coiffeurs</router-link></li>
            <li v-if="typeUserMatches('admin')"><router-link to="/back-office-clients">BO Users</router-link></li>
            <li v-if="typeUserMatches('admin')"><router-link to="/back-office-salons">BO Salons</router-link></li>
            <li v-if="typeUserMatches('admin')"><router-link to="/back-office-coiffeurs">BO Coiffeurs</router-link></li>
            <li id="logout" @click="handleLogout">Déconnexion</li>
        </ul>
    </nav>
</template>

<script>
export default {
    name: 'NavBar',
    methods: {
        handleLogout() {
            localStorage.removeItem('user');
            this.$router.push('/form-connexion');
        },
        typeUserMatches(type) {
            const userItem = localStorage.getItem('user');

            if (userItem && userItem.trim() !== '') {
                const userObject = JSON.parse(userItem);

                return userObject.type_user === type;
            }

            return false;
        },
    },
};
</script>

<style scoped>
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        padding:24px 100px;
        background: #b19cd9;
    }
    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
    }
    nav ul li {
        list-style: none;
        color: #fff;
    }
    nav ul li#logout {
        cursor: pointer;
    }
</style>
