<template>
    <div>
        <h1 class="title_liste_coiffeurs">Liste des coiffeurs</h1>
        <div class="container_input_search">
            <div>
                <input v-model="searchQuery" placeholder="Rechercher par nom" />
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m28 27l-7.5-7.5M5 13a9 9 0 1 0 18 0a9 9 0 0 0-18 0"/></svg>
            </div>
        </div>
        <ul class="liste_coiffeurs">
            <li v-for="(coiffeur, index) in filteredSalons()" :key="coiffeur.id_coiffeur">
                <img v-if="index % 4 === 0" src="@/assets/coiffeur/coiffeur1.avif" alt="Coiffeur Image" />
                <img v-else-if="index % 4 === 1" src="@/assets/coiffeur/coiffeur2.jpeg" alt="Coiffeur Image" />
                <img v-else-if="index % 4 === 2" src="@/assets/coiffeur/coiffeur3.png" alt="Coiffeur Image" />
                <img v-else-if="index % 4 === 3" src="@/assets/coiffeur/coiffeur4.jpeg" alt="Coiffeur Image" />
                {{ coiffeur.nom_coiffeur }}
                <router-link :to="{ name: 'DispoCoiffeur', params: { id_coiffeur: coiffeur.id_coiffeur }}">
                    Voir les dispos
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'CoiffeursList',
        data() {
            return {
                salonId: null,
                coiffeurs: [],
                searchQuery: ''
            };
        },
        created() {
            const user = localStorage.getItem('user');

            if (!user || user.trim() === '') {
                this.$router.push('/form-connexion');
            }
            else{
                const userObject = JSON.parse(user);

                if (userObject.type_user === 'admin') {
                    this.$router.push('/back-office-clients');
                } else if (userObject.type_user === 'professionnel') {
                    this.$router.push('/create-salon');
                }
                else{
                    this.retrieveSalonId();
                    this.fetchCoiffeurs();
                }
            }
        },
        methods: {
            retrieveSalonId() {
                this.salonId = this.$route.params.id_salon;
            },
            async fetchCoiffeurs() {
                try {
                    const response = await fetch('http://localhost:8000/coiffeurs');
                    const data = await response.json();
                    this.coiffeurs = data.filter(coiffeur =>  parseInt(coiffeur.salon_id) ===  parseInt(this.salonId));
                } catch (error) {
                    console.error('Erreur lors de la récupération des coiffeurs :', error);
                }
            },
            filteredSalons() {
                const query = this.searchQuery.toLowerCase();
                return this.coiffeurs.filter(coiffeur =>
                    coiffeur.nom_coiffeur.toLowerCase().includes(query)
                );
            }
        }
    }
</script>

<style scoped>
    .title_liste_coiffeurs{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
    .container_input_search{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
    }
    .container_input_search > div{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        border: solid 1px #b19cd9;
    }
    .container_input_search input{
        padding:8px 16px;
        font-size: 14px;
        width: 300px;
        border-radius: 30px;
    }
    .container_input_search svg{
        position: absolute;
        right:16px;
        top:50%;
        transform: translateY(-50%);
        width:20px;
        height: auto;
    }
    .container_input_search svg path{
        stroke: #b19cd9;
    }
    .liste_coiffeurs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .liste_coiffeurs li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:16px 0;
        border-bottom:solid 1px #ccc;
        width: 100%;
    }
    .liste_coiffeurs li .container_img_text{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 16px;
    }
    .liste_coiffeurs li img{
        width:160px;
        height:90px;
        object-fit: cover;
    }
    .liste_coiffeurs li a{
        cursor: pointer;
        padding:8px 16px;
        background: #b19cd9;
        font-size: 14px;
        border-radius: 30px;
        color: #fff;
        border: solid 1px #b19cd9;
    }
</style>