<template>
    <div>
        <h1 class="title_choice_rdv">Choisissez votre rendez-vous</h1>
        <div class="container_calendar">
            <div class="container_day" v-for="day in groupedRendezVous" :key="day.day">
                <p>{{ day.day }}</p>
                <ul>
                    <li v-for="rdv in day.rendezVous" :key="rdv.id_disponibilite" @click="showModal(rdv)">
                    {{ rdv.heure }}
                    </li>
                </ul>
            </div>
        </div>
        <div v-if="selectedRdv" class="modal_take_rdv_container">
            <div class="modal_take_rdv_content">
                <span @click="closeModal" class="modal_take_rdv_close">&times;</span>
                <p>Informations sur le rendez-vous :</p>
                <p>Jour : {{ selectedRdv.jour_semaine }}</p>
                <p>Heure : {{ selectedRdv.heure }}</p>
                <button @click="takeRdv">Prendre RDV</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'DispoCoiffeur',
    data() {
    return {
        coiffeurId: null,
        rendezVous: [],
        selectedRdv: null,
    };
    },
    computed: {
        groupedRendezVous() {
            const joursSemaineOrder = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'];

            const groupedByDay = this.rendezVous.reduce((acc, rdv) => {
                const dayOfWeek = rdv.jour_semaine;
                if (!acc[dayOfWeek]) {
                    acc[dayOfWeek] = { day: dayOfWeek, rendezVous: [] };
                }
                acc[dayOfWeek].rendezVous.push(rdv);
                return acc;
            }, {});

            const sortedGroupedRendezVous = joursSemaineOrder.map(dayOfWeek => groupedByDay[dayOfWeek]).filter(Boolean);

            return sortedGroupedRendezVous;
        },
    },
    created() {
        const user = localStorage.getItem('user');

        if (!user || user.trim() === '') {
            this.$router.push('/form-connexion');
        } else {
            const userObject = JSON.parse(user);

            if (userObject.type_user === 'admin') {
                this.$router.push('/back-office-clients');
            } else if (userObject.type_user === 'professionnel') {
                this.$router.push('/create-salon');
            } else {
                this.retrieveCoiffeurId();
                this.fetchRendezVous();
            }
        }
    },
    methods: {
        showModal(rdv) {
            this.selectedRdv = rdv;
        },
        closeModal() {
            this.selectedRdv = null;
        },
        retrieveCoiffeurId() {
            this.coiffeurId = parseInt(this.$route.params.id_coiffeur);
        },
        async fetchRendezVous() {
            try {
                const response = await fetch('http://localhost:8000/disponibilites-coiffeurs');
                const data = await response.json();

                this.rendezVous = data.filter(rdv => rdv.coiffeur_id === parseInt(this.coiffeurId));

                console.log('Rendez-vous:', this.rendezVous);
                } 
            catch (error) {
                console.error('Erreur lors de la récupération des rendez-vous :', error);
            }
        },
        takeRdv() {
            if (!this.selectedRdv) {
                console.error('Aucun rendez-vous sélectionné.');
                return;
            }

            const userObject = JSON.parse(localStorage.getItem('user'));

            const rendezVousData = {
                utilisateur_id: userObject.id_user,
                coiffeur_id: this.coiffeurId,
                date: `${this.selectedRdv.jour_semaine} ${this.selectedRdv.heure}`,
            };

            console.log(rendezVousData);

            fetch('http://localhost:8000/create-rendezvous', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(rendezVousData),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Erreur lors de la création du rendez-vous : ${response.statusText}`);
                }
                return response.json();
            })
            .then(createdRdv => {
                console.log('Rendez-vous créé avec succès:', createdRdv);
                this.$router.push('/mes-rdv');
            })
            .catch(error => {
                console.error('Erreur lors de la création du rendez-vous :', error);
            });
        },
    },
};
</script>

<style scoped>
    .title_choice_rdv{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
    .container_calendar {
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    .container_day{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        border-right:solid 1px #ccc;
        height: 2000px;
        width:150px;
        text-align: center;
    }
    .container_day p{
        padding-bottom:12px;
        border-bottom:solid 1px #ccc;
    }
    .container_day li{
        padding:12px;
        border-bottom:solid 1px #ccc;
        cursor: pointer;
    }
    .container_day li:hover{
        background: #b19cd9;
        color: #fff;
    }
    .container_day:first-child{
        border-left:solid 1px #ccc;
    }
    .modal_take_rdv_container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .modal_take_rdv_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 12px;
        position: relative;
        background-color: #fefefe;
        padding: 20px 48px 20px 32px;
        border-radius: 8px;
        text-align: center;
    }
    .modal_take_rdv_content button{
        cursor: pointer;
        padding:8px 16px;
        background: #b19cd9;
        font-size: 14px;
        border-radius: 30px;
        color: #fff;
        border: solid 1px #b19cd9;
    }
    .modal_take_rdv_close {
        position: absolute;
        top: 0;
        right: 8px;
        font-size: 32px;
        cursor: pointer;
        color: #b19cd9;
    }
</style>