<template>
    <div>
        <h1 class="title_rdv">Liste des rendez-vous</h1>
        <ul class="liste_rdv">
            <li v-for="rdv in listeRdv" :key="rdv.id_rendezvous">
                <div>
                    <p>Date : {{ rdv.date }}</p>
                    <p>Coiffeur : {{ rdv.coiffeurName }}</p>
                </div>
                <button @click="supprimerRdv(rdv.id_rendezvous)">Supprimer</button>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'MesRdv',
    data() {
        return {
            listeRdv: [],
        };
    },
    created() {
        const user = localStorage.getItem('user');

        if (!user || user.trim() === '') {
            this.$router.push('/form-connexion');
        } else {
            const userObject = JSON.parse(user);

            if (userObject.type_user === 'admin') {
                this.$router.push('/back-office-clients');
            } else if (userObject.type_user === 'professionnel') {
                this.$router.push('/create-salon');
            } else {
                this.fetchRendezVous();
            }
        }
    },
    methods: {
        async fetchRendezVous() {
            try {
                const response = await fetch('http://localhost:8000/rendezvous');
                if (!response.ok) {
                    throw new Error('Erreur lors de la récupération des rendez-vous');
                }

                const allRdv = await response.json();
                const user = localStorage.getItem('user');
                const userObject = JSON.parse(user);

                await Promise.all(
                    allRdv.map(async (rdv) => {
                        const coiffeurResponse = await fetch(`http://localhost:8000/coiffeur/${rdv.coiffeur_id}`);
                        if (!coiffeurResponse.ok) {
                            throw new Error('Erreur lors de la récupération des détails du coiffeur');
                        }
                        const coiffeurDetails = await coiffeurResponse.json();
                        rdv.coiffeurName = coiffeurDetails.nom_coiffeur;
                    })
                );

                this.listeRdv = allRdv.filter((rdv) => rdv.utilisateur_id === userObject.id_user);
                this.sortRdvByDayOfWeek();
                console.log(this.listeRdv);
            } catch (error) {
                console.error(error);
            }
        },
        sortRdvByDayOfWeek() {
            const dayOfWeekOrder = {
                Lundi: 0,
                Mardi: 1,
                Mercredi: 2,
                Jeudi: 3,
                Vendredi: 4,
                Samedi: 5,
                Dimanche: 6,
            };

            this.listeRdv.sort((a, b) => {
                const dayA = this.extractDayOfWeek(a.date);
                const dayB = this.extractDayOfWeek(b.date);

                return dayOfWeekOrder[dayA] - dayOfWeekOrder[dayB];
            });
        },
        extractDayOfWeek(date) {
            const jours = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
            const day = jours.find(jour => date.includes(jour));
            return day ? day : '';
        },
        async supprimerRdv(idRdv) {
            if (confirm('Êtes-vous sûr de vouloir supprimer ce rendez-vous?')) {
                try {
                    const response = await fetch(`http://localhost:8000/delete-rendezvous/${idRdv}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });

                    if (!response.ok) {
                        throw new Error('Erreur lors de la suppression du rendez-vous');
                    }

                    this.fetchRendezVous();
                } catch (error) {
                    console.error(error);
                }
            }
        },
    }
};
</script>

<style scoped>
.title_rdv {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
}

.liste_rdv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.liste_rdv li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: solid 1px #ccc;
    width: 100%;
}

.liste_rdv div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 8px;
}

.liste_rdv button {
    cursor: pointer;
    padding: 8px 16px;
    background: #b19cd9;
    font-size: 14px;
    border-radius: 30px;
    color: #fff;
    border: solid 1px #b19cd9;
}
</style>
