<template>
    <div>
        <h1 class="title_liste_salons">Liste des salons</h1>
        <div class="container_input_search">
            <div>
                <input v-model="searchQuery" placeholder="Rechercher par nom ou adresse" />
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m28 27l-7.5-7.5M5 13a9 9 0 1 0 18 0a9 9 0 0 0-18 0"/></svg>
            </div>
        </div>
        <ul class="liste_salons">
            <li v-for="(salon, index) in filteredSalons()" :key="salon.id_salon">
                <img v-if="index % 6 === 0" src="@/assets/salon/salon1.jpeg" alt="Salon Image" />
                <img v-else-if="index % 6 === 1" src="@/assets/salon/salon2.webp" alt="Salon Image" />
                <img v-else-if="index % 6 === 2" src="@/assets/salon/salon3.avif" alt="Salon Image" />
                <img v-else-if="index % 6 === 3" src="@/assets/salon/salon4.avif" alt="Salon Image" />
                <img v-else-if="index % 6 === 4" src="@/assets/salon/salon5.webp" alt="Salon Image" />
                <img v-else-if="index % 6 === 5" src="@/assets/salon/salon6.webp" alt="Salon Image" />
                {{ salon.nom_salon }} - {{ salon.emplacement }}
                <router-link :to="{ name: 'CoiffeursList', params: { id_salon: salon.id_salon }}">
                    Voir les coiffeurs
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'CoiffeursList',
    data() {
        return {
            salons: [],
            searchQuery: ''
        };
    },
    created() {
        const user = localStorage.getItem('user');

        if (!user || user.trim() === '') {
            this.$router.push('/form-connexion');
        } else {
            const userObject = JSON.parse(user);

            if (userObject.type_user === 'admin') {
                this.$router.push('/back-office-clients');
            } else if (userObject.type_user === 'professionnel') {
                this.$router.push('/create-salon');
            } else {
                this.fetchSalons();
            }
        }
    },
    methods: {
        async fetchSalons() {
            try {
                const response = await fetch('http://localhost:8000/salons');
                const data = await response.json();
                this.salons = data;
            } catch (error) {
                console.error('Erreur lors de la récupération des salons :', error);
            }
        },
        filteredSalons() {
            const query = this.searchQuery.toLowerCase();
            return this.salons.filter(salon =>
                salon.nom_salon.toLowerCase().includes(query) ||
                salon.emplacement.toLowerCase().includes(query)
            );
        }
    }
};
</script>

<style scoped>
    .title_liste_salons{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
    .container_input_search{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
    }
    .container_input_search > div{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        border: solid 1px #b19cd9;
    }
    .container_input_search input{
        padding:8px 16px;
        font-size: 14px;
        width: 300px;
        border-radius: 30px;
    }
    .container_input_search svg{
        position: absolute;
        right:16px;
        top:50%;
        transform: translateY(-50%);
        width:20px;
        height: auto;
    }
    .container_input_search svg path{
        stroke: #b19cd9;
    }
    .liste_salons{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .liste_salons li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:16px 0;
        border-bottom:solid 1px #ccc;
        width: 100%;
    }
    .liste_salons li .container_img_text{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 16px;
    }
    .liste_salons li img{
        width:160px;
        height:90px;
        object-fit: cover;
    }
    .liste_salons li a{
        cursor: pointer;
        padding:8px 16px;
        background: #b19cd9;
        font-size: 14px;
        border-radius: 30px;
        color: #fff;
        border: solid 1px #b19cd9;
    }
</style>
