<template>
    <div>
        <h1 class="title_salon" v-if="salonAvecProprietaire">Votre salon, Nom : {{ salonAvecProprietaire.nom_salon }} - Adresse : {{ salonAvecProprietaire.emplacement }}</h1>
        <div class="form_create_coiffeur form_global">
            <h1>Créer un coiffeur</h1>
            <form @submit.prevent="handleSubmit">
                <label for="nom_coiffeur">Nom du coiffeur:</label>
                <input type="text" v-model="nom_coiffeur" placeholder="Nom du coiffeur" required>

                <button type="submit">Créer le coiffeur</button>
            </form>
        </div>
        <h1 class="title_coiffeurs">Listes des coiffeurs</h1>
        <ul class="liste_coiffeurs">
            <li v-for="coiffeur in listeCoiffeurs" :key="coiffeur.id_coiffeur">
                Nom : {{ coiffeur.nom_coiffeur }}
                <div class="liste_coiffeurs_cta">
                    <router-link :to="{ name: 'CreateDisponibilite', params: { id_coiffeur: coiffeur.id_coiffeur }}">
                        Voir disponibilités
                    </router-link>
                    <button @click="deleteCoiffeur(coiffeur.id_coiffeur)">Supprimer</button>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'CreateCoiffeur',
        data() {
            return {
                nom_coiffeur: '',
                salonAvecProprietaire: null,
                listeCoiffeurs: [],
            };
        },
        methods: {
            handleSubmit() {
                const user = localStorage.getItem('user');
                const userObject = JSON.parse(user);

                // Récupération du salon avec le propriétaire actuel
                fetch('http://localhost:8000/salons')
                    .then(response => response.json())
                    .then(data => {
                        const salonAvecProprietaire = data.find(salon => salon.proprietaire_id === userObject.id_user);

                        if (salonAvecProprietaire) {
                            const formData = {
                                nom_coiffeur: this.nom_coiffeur,
                                salon_id: salonAvecProprietaire.id_salon,
                            };

                            fetch('http://localhost:8000/create-coiffeur', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(formData),
                            })
                            .then(response => response.json())
                            .then(data => {
                                console.log('Coiffeur créé avec succès:', data);
                                this.fetchListeCoiffeurs();
                            })
                            .catch(error => console.error('Erreur lors de la création du coiffeur :', error));
                        } else {
                            console.error('Salon non trouvé.');
                        }
                    })
                    .catch(error => console.error('Erreur lors de la récupération des salons :', error));
            },
            fetchListeCoiffeurs() {
                const user = localStorage.getItem('user');
                const userObject = JSON.parse(user);

                // Récupération du salon avec le propriétaire actuel
                fetch('http://localhost:8000/salons')
                    .then(response => response.json())
                    .then(data => {
                        const salonAvecProprietaire = data.find(salon => salon.proprietaire_id === userObject.id_user);

                        if (salonAvecProprietaire) {
                            // Récupération de la liste de tous les coiffeurs
                            fetch('http://localhost:8000/coiffeurs')
                                .then(response => response.json())
                                .then(coiffeurs => {
                                    // Filtrage des coiffeurs par salon_id
                                    const coiffeursDuSalon = coiffeurs.filter(coiffeur => coiffeur.salon_id === salonAvecProprietaire.id_salon);

                                    // Mise à jour de la variable pour l'affichage dans le template
                                    this.listeCoiffeurs = coiffeursDuSalon;
                                })
                                .catch(error => console.error('Erreur lors de la récupération des coiffeurs :', error));
                        } else {
                            console.error('Salon non trouvé.');
                        }
                    })
                    .catch(error => console.error('Erreur lors de la récupération des salons :', error));
            },
            deleteCoiffeur(idCoiffeur) {
                if (confirm('Êtes-vous sûr de vouloir supprimer ce coiffeur?')) {
                    fetch(`http://localhost:8000/delete-coiffeur/${idCoiffeur}`, {
                        method: 'DELETE',
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Coiffeur supprimé avec succès:', data);
                        this.fetchListeCoiffeurs();
                    })
                    .catch(error => console.error('Erreur lors de la suppression du coiffeur :', error));
                }
            },
        },
        created() {
            const user = localStorage.getItem('user');

            if (!user || user.trim() === '') {
                this.$router.push('/form-connexion');
            } else {
                const userObject = JSON.parse(user);

                if (userObject.type_user === 'admin') {
                    this.$router.push('/back-office-clients');
                } else if (userObject.type_user === 'client') {
                    this.$router.push('/salons-list');
                }

                fetch('http://localhost:8000/salons')
                    .then(response => response.json())
                    .then(data => {
                        const salonAvecProprietaire = data.find(salon => salon.proprietaire_id === userObject.id_user);

                        if (!salonAvecProprietaire) {
                            this.$router.push('/create-salon');
                        } else {
                            // Mise à jour de la variable pour l'affichage dans le template
                            this.salonAvecProprietaire = salonAvecProprietaire;
                            console.log('L\'utilisateur possède un salon.');
                        }
                    })
                    .catch(error => console.error('Erreur lors de la récupération des salons :', error));
            }
            this.fetchListeCoiffeurs();
        }
    }
</script>

<style scoped>
    .form_create_coiffeur.form_global{
        margin-bottom: 32px;
    }
    .title_salon,
    .title_coiffeurs{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
    .title_coiffeurs{
        font-weight: normal;
    }
    .liste_coiffeurs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .liste_coiffeurs li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:16px 0;
        border-bottom:solid 1px #ccc;
        width: 100%;
    }
    .liste_coiffeurs .liste_coiffeurs_cta{
        display: flex;
        column-gap: 16px;
    }
    .liste_coiffeurs .liste_coiffeurs_cta button, 
    .liste_coiffeurs .liste_coiffeurs_cta a{
        cursor: pointer;
        padding:8px 16px;
        background: #b19cd9;
        font-size: 14px;
        border-radius: 30px;
        color: #fff;
        border: solid 1px #b19cd9;
    }

    .liste_coiffeurs .liste_coiffeurs_cta a{
        background: #fff;
        color: #b19cd9;
    }
</style>