<template>
    <div>
        <h1 class="title_coiffeur" v-if="coiffeurDetails">Nom du coiffeur : {{ coiffeurDetails.nom_coiffeur }}</h1>

        <div class="form_create_disponibilite form_global">
            <h2>Créer une disponibilité</h2>
            <form @submit.prevent="handleSubmit">
                <label for="jour_semaine">Jour de la semaine:</label>
                <select v-model="jour_semaine" required>
                    <option value="Lundi">Lundi</option>
                    <option value="Mardi">Mardi</option>
                    <option value="Mercredi">Mercredi</option>
                    <option value="Jeudi">Jeudi</option>
                    <option value="Vendredi">Vendredi</option>
                    <option value="Samedi">Samedi</option>
                    <option value="Dimanche">Dimanche</option>
                </select>

                <label for="heure">Heure:</label>
                <input type="time" v-model="heure" required>

                <button type="submit">Créer la disponibilité</button>
            </form>
        </div>

        <h1 class="title_dispo">Liste des disponibilités du coiffeur</h1>
        <div v-for="jour in joursSemaine" :key="jour">
            <ul class="liste_dispo" v-if="hasDisponibilitesForDay(jour)">
                <h3>{{ jour }}</h3>
                <div v-for="disponibilite in filteredDisponibilites" :key="disponibilite.id_disponibilite">
                    <li v-if="disponibilite.jour_semaine === jour">
                        {{ disponibilite.jour_semaine }} à {{ disponibilite.heure }}
                        <button @click="deleteAvailability(disponibilite.id_disponibilite)">Supprimer</button>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'CreateDisponibilite',
        data() {
            return {
                idCoiffeur: null,
                coiffeurDetails: null,
                jour_semaine: 'Lundi',
                heure: '09:00',
                filteredDisponibilites: [],
                joursSemaine: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'],
            };
        },
        methods: {
            handleSubmit() {
                const formData = {
                    coiffeur_id: parseInt(this.idCoiffeur),
                    jour_semaine: this.jour_semaine,
                    heure: this.heure,
                };

                console.log(formData);

                fetch('http://localhost:8000/create-disponibilite-coiffeur', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(formData),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Disponibilité créée avec succès:', data);
                    this.fetchDisponibilitesCoiffeurs();
                })
                .catch(error => console.error('Erreur lors de la création de la disponibilité :', error));
            },
            fetchDisponibilitesCoiffeurs() {
                fetch('http://localhost:8000/disponibilites-coiffeurs')
                    .then(response => response.json())
                    .then(disponibilites => {
                        console.log('Disponibilités des coiffeurs récupérées :', disponibilites);
                        console.log(this.idCoiffeur);
                        this.filteredDisponibilites = disponibilites.filter(disponibilite => String(disponibilite.coiffeur_id) === String(this.idCoiffeur));
                        console.log(this.filteredDisponibilites);
                    })
                    .catch(error => console.error('Erreur lors de la récupération des disponibilités des coiffeurs :', error));
            },
            deleteAvailability(idDisponibilite) {
                if (confirm('Êtes-vous sûr de vouloir supprimer cette disponibilité?')) {
                    fetch(`http://localhost:8000/delete-disponibilite-coiffeur/${idDisponibilite}`, {
                        method: 'DELETE',
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Disponibilité supprimée avec succès:', data);
                        this.fetchDisponibilitesCoiffeurs();
                    })
                    .catch(error => console.error('Erreur lors de la suppression de la disponibilité :', error));
                }
            },
            hasDisponibilitesForDay(jour) {
                const disponibilites = this.filteredDisponibilites.filter(disponibilite => disponibilite.jour_semaine === jour);
                return disponibilites.length > 0;
            },
        },
        created() {
            const user = localStorage.getItem('user');

            if (!user || user.trim() === '') {
                this.$router.push('/form-connexion');
            }
            else{
                const userObject = JSON.parse(user);

                if (userObject.type_user === 'admin') {
                    this.$router.push('/back-office-clients');
                } else if (userObject.type_user === 'client') {
                    this.$router.push('/salons-list');
                }

                fetch('http://localhost:8000/salons')
                    .then(response => response.json())
                    .then(data => {
                        const salonAvecProprietaire = data.find(salon => salon.proprietaire_id === userObject.id_user);

                        if (!salonAvecProprietaire) {
                            this.$router.push('/create-salon');
                        } else {
                            console.log('L\'utilisateur possède un salon.');
                            this.idCoiffeur = this.$route.params.id_coiffeur;
                            console.log('Id du coiffeur récupéré :', this.idCoiffeur);
                            fetch(`http://localhost:8000/coiffeur/${this.idCoiffeur}`)
                                .then(response => response.json())
                                .then(coiffeurDetails => {
                                    console.log('Détails du coiffeur récupérés :', coiffeurDetails);
                                    this.coiffeurDetails = coiffeurDetails;
                                    this.fetchDisponibilitesCoiffeurs();
                                })
                                .catch(error => console.error('Erreur lors de la récupération des détails du coiffeur :', error));
                        }
                    })
                    .catch(error => console.error('Erreur lors de la récupération des salons :', error));
            }
        }
    }
</script>

<style scoped>
    .form_create_disponibilite.form_global {
        margin-bottom: 32px;
    }
    .title_coiffeur,
    .title_dispo{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
    .title_dispo{
        font-weight: normal;
    }
    .liste_dispo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .liste_dispo > div{
        width: 100%;
    }
    .liste_dispo li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:16px 0;
        border-bottom:solid 1px #ccc;
        width: 100%;
    }
    .liste_dispo h3{
        align-self: flex-start;
        margin-top:24px;
        font-size: 24px;
    }
    .liste_dispo button{
        cursor: pointer;
        padding:8px 16px;
        background: #b19cd9;
        font-size: 14px;
        border-radius: 30px;
        color: #fff;
        border: solid 1px #b19cd9;
    }
</style>
