<template>
    <div class="form_create_salon form_global">
        <h1>Créer un salon</h1>
        <form @submit.prevent="handleSubmit">
            <label for="nom_salon">Nom du salon:</label>
            <input type="text" v-model="nom_salon" placeholder="Nom du salon" required>

            <label for="emplacement">Adresse:</label>
            <input type="text" v-model="emplacement" placeholder="Emplacement" required>

            <button type="submit">Créer le salon</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'CreateSalon',
        data() {
            return {
                nom_salon: '',
                emplacement: '',
            };
        },
        methods: {
            handleSubmit() {
                const user = localStorage.getItem('user');

                const userObject = JSON.parse(user);

                const salonData = {
                    nom_salon: this.nom_salon,
                    emplacement: this.emplacement,
                    proprietaire_id: userObject.id_user,
                };

                fetch('http://localhost:8000/create-salon', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(salonData),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Échec de la requête API');
                    }
                    return response.json();
                })
                .then(data => {
                    this.$router.push('/create-coiffeur');
                })
                .catch(error => {
                    console.error('Erreur lors de la requête:', error);
                });
            },
        },
        created() {
            const user = localStorage.getItem('user');

            if (!user || user.trim() === '') {
                this.$router.push('/form-connexion');
            }
            else{
                const userObject = JSON.parse(user);

                if (userObject.type_user === 'admin') {
                    this.$router.push('/back-office-clients');
                } else if (userObject.type_user === 'client') {
                    this.$router.push('/salons-list');
                }

                fetch('http://localhost:8000/salons')
                    .then(response => response.json())
                    .then(data => {
                        const salonAvecProprietaire = data.find(salon => salon.proprietaire_id === userObject.id_user);

                        if (salonAvecProprietaire) {
                            this.$router.push('/create-coiffeur');
                        } else {
                            console.log('L\'utilisateur ne possède pas de salon.');
                        }
                    })
                    .catch(error => console.error('Erreur lors de la récupération des salons :', error));
            }
        }
    }
</script>

<style scoped>
    
</style>