<template>
  <div class="app">
    <router-view></router-view>
    <NavBar v-if="showNavBar" />
  </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue';

export default {
  name: 'App',
  components: {
    NavBar,
  },
  data() {
    return {
      showNavBar: true,
    };
  },
  watch: {
    $route(to, from) {
      this.showNavBar = !['/form-inscription', '/form-connexion'].some(route => to.path.startsWith(route));
    },
  },
};
</script>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    .app {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 100px;
    }
    .form_global{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .form_global h1{
        font-size: 24px;
    }
    .form_global form{
        display:flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        row-gap: 12px;
        margin: 12px 0;
        padding:24px;
        border: solid 1px #b19cd9;
        border-radius: 16px;
    }
    .form_global form input, .form_global form select{
        padding: 12px 16px;
        width:300px;
        border: solid 1px #b19cd9;
        border-radius: 30px;
    }
    .form_global form button{
        padding: 12px 16px;
        align-self: center;
        background: #b19cd9;
        color: #fff;
        border-radius: 30px;
        cursor: pointer;
    }   
    .router-link-active {
      font-weight: bold;
    }
</style>
