<template>
    <div>
        <h1>Liste des utilisateurs</h1>
        <ul>
        <li v-for="user in users" :key="user.id_user">
            {{ user.nom_user }} - {{ user.email_user }} - {{ user.type_user }}
        </li>
        </ul>

        <h1>Liste des salons</h1>
        <ul>
        <li v-for="salon in salons" :key="salon.id_salon">
            {{ salon.nom_salon }} - {{ salon.emplacement }} - {{ salon.proprietaire_id }}
        </li>
        </ul>

        <h1>Liste des coiffeurs</h1>
        <ul>
        <li v-for="coiffeur in coiffeurs" :key="coiffeur.id_coiffeur">
            {{ coiffeur.nom_coiffeur }} - {{ coiffeur.salon_id }}
        </li>
        </ul>

        <h1>Liste des disponibilités des coiffeurs</h1>
        <ul>
        <li v-for="disponibilite in disponibilites" :key="disponibilite.id_disponibilite">
            {{ disponibilite.coiffeur_id }} - {{ disponibilite.jour_semaine }} - {{ disponibilite.heure }}
        </li>
        </ul>

        <h1>Liste des demandes de compte professionnel</h1>
        <ul>
        <li v-for="demande in demandes" :key="demande.id_demande">
            {{ demande.utilisateur_id }} - {{ demande.statut }}
        </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'ApiDate',
    data() {
        return {
        users: [],
        salons: [],
        coiffeurs: [],
        disponibilites: [],
        demandes: [],
        };
    },
    mounted() {
        this.fetchData('users', 'users');
        this.fetchData('salons', 'salons');
        this.fetchData('coiffeurs', 'coiffeurs');
        this.fetchData('disponibilites-coiffeurs', 'disponibilites');
        this.fetchData('demandes-compte-pro', 'demandes');
    },
    methods: {
        fetchData(route, dataKey) {
        fetch(`http://localhost:8000/${route}`)
            .then(response => response.json())
            .then(data => {
            this[dataKey] = data;
            })
            .catch(error => {
            console.error(`Erreur lors de la récupération des ${dataKey}:`, error);
            });
        },
    },
};
</script>

<style>
/* Ajoutez vos styles ici si nécessaire */
</style>
