<template>
    <div class="form_inscri form_global">
        <h1>S'inscrire</h1>
        <form @submit.prevent="handleSubmit">
            <label for="nom_user">Nom Utilisateur:</label>
            <input type="text" v-model="nom_user" placeholder="Name" required>

            <label for="email_user">Email:</label>
            <input type="email" v-model="email_user" placeholder="Email" required>

            <label for="mot_de_passe">Mot de passe:</label>
            <input type="password" v-model="mot_de_passe" placeholder="Mot de passe" required>

            <label for="type_user">Type Utilisateur:</label>
            <select v-model="type_user" required>
                <option value="client">Client</option>
                <option value="professionnel">Professionnel</option>
            </select>

            <button type="submit">S'inscrire</button>
        </form>
        <router-link to="/form-connexion">Vous avez déjà compte ? Se connecter</router-link>
    </div>
</template>

<script>
    export default {
        name: 'FormInscri',
        data() {
            return {
                nom_user: '',
                email_user: '',
                mot_de_passe: '',
                type_user: 'client'
            };
        },
        methods: {
            handleSubmit() {
                const userData = {
                    nom_user: this.nom_user,
                    email_user: this.email_user,
                    mot_de_passe: this.mot_de_passe,
                    type_user: this.type_user
                };

                fetch('http://localhost:8000/create-user', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(userData),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Échec de la requête API');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(userData);
                    this.$router.push('/form-connexion');
                })
                .catch(error => {
                    console.error('Erreur lors de la requête:', error);
                });
            }
        },
        mounted() {
        const userItem = localStorage.getItem('user');

        if (userItem && userItem.trim() !== '') {
            const userObject = JSON.parse(userItem);

            if (userObject.type_user === 'client') {
                this.$router.push('/salons-list');
            } else if (userObject.type_user === 'professionnel') {
                this.$router.push('/create-salon');
            } else if (userObject.type_user === 'admin') {
                this.$router.push('/back-office-clients');
            }
        }
    },
    }
</script>


<style scoped>

</style>
