<template>
    <div class="form_connex form_global">
        <h1>Se connecter</h1>
        <form @submit.prevent="handleLogin">
            <label for="email_user">Email:</label>
            <input type="email" v-model="email_user" placeholder="Email" required>

            <label for="mot_de_passe">Mot de passe:</label>
            <input type="password" v-model="mot_de_passe" placeholder="Mot de passe" required>

            <button type="submit">Se connecter</button>
        </form>
        <router-link to="/form-inscription">Vous n'avez pas de compte ? S'inscrire</router-link>
    </div>
</template>

<script>
export default {
    name: 'FormConnex',
    data() {
        return {
            email_user: '',
            mot_de_passe: '',
        };
    },
    methods: {
        handleLogin() {
            const userData = {
                email_user: this.email_user,
                mot_de_passe: this.mot_de_passe,
            };

            fetch('http://localhost:8000/users')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Échec de la requête API');
                    }
                    return response.json();
                })
                .then(data => {
                    const matchingUser = data.find(user => 
                        user.email_user === userData.email_user && 
                        user.mot_de_passe === userData.mot_de_passe
                    );

                    if (matchingUser) {
                        localStorage.setItem('user', JSON.stringify(matchingUser));

                        if (matchingUser.type_user === 'client') {
                            this.$router.push('/salons-list');
                        } 
                        else if (matchingUser.type_user === 'professionnel') {
                            this.$router.push('/create-salon');
                        }
                        else if (matchingUser.type_user === 'admin') {
                            this.$router.push('/back-office-clients');
                        }
                    } else {
                        console.log('Identifiants incorrects');
                    }
                })
                .catch(error => {
                    console.error('Erreur lors de la requête:', error);
                });
        },
    },
    mounted() {
        const userItem = localStorage.getItem('user');

        if (userItem && userItem.trim() !== '') {
            const userObject = JSON.parse(userItem);

            if (userObject.type_user === 'client') {
                this.$router.push('/salons-list');
            } else if (userObject.type_user === 'professionnel') {
                this.$router.push('/create-salon');
            } else if (userObject.type_user === 'admin') {
                this.$router.push('/back-office-clients');
            }
        }
    }
};
</script>

<style scoped>

</style>
