<template>
    <div>
        <h1 class="title_bo_clients">Page admin back office clients</h1>
        <ul class="liste_bo_clients">
            <li v-for="(user, index) in users" :key="index">
                <div v-if="!user.editMode">
                    <div>
                        <p>{{ user.nom_user }}</p>
                        <p>{{ user.email_user }}</p>
                    </div>
                    <div>
                        <button @click="toggleEditMode(user)">Editer</button>
                        <button @click="deleteUser(user.id_user)">Supprimer</button>
                    </div>
                </div>
                <div v-else>
                    <div>
                        <input v-model="user.editedNom" placeholder="Nouveau nom">
                        <input v-model="user.editedEmail" placeholder="Nouvel email">
                    </div>
                    <div>
                        <button @click="saveChanges(user)">Enregistrer</button>
                        <button @click="toggleEditMode(user)">Annuler</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'BackOfficeClients',
    data() {
        return {
            users: [],
        };
    },
    created() {
        const user = localStorage.getItem('user');

        if (!user || user.trim() === '') {
            this.$router.push('/form-connexion');
        } else {
            const userObject = JSON.parse(user);

            if (userObject.type_user === 'client') {
                this.$router.push('/salons-list');
            } else if (userObject.type_user === 'professionnel') {
                this.$router.push('/create-salon');
            } else {
                this.fetchUsers();
            }
        }
    },
    methods: {
        fetchUsers() {
            fetch('http://localhost:8000/users')
                .then(response => response.json())
                .then(data => {
                    this.users = data;
                    console.log('Fetched Users:', this.users);
                })
                .catch(error => console.error('Error fetching users:', error));
        },
        toggleEditMode(user) {
            if (!user.editMode) {
                user.editedNom = user.nom_user;
                user.editedEmail = user.email_user;
            }

            user.editMode = !user.editMode;
        },

        saveChanges(user) {
            const updatedUser = {
                id_user: user.id_user,
                nom_user: user.editedNom,
                email_user: user.editedEmail,
                mot_de_passe: user.mot_de_passe,
                type_user: user.type_user,
            };

            fetch(`http://localhost:8000/update-user/${user.id_user}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(updatedUser),
            })
                .then(response => response.json())
                .then(() => {
                    this.fetchUsers();
                })
                .catch(error => console.error('Error updating user:', error));
            user.editMode = false;
        },
        deleteUser(userId) {
            fetch(`http://localhost:8000/delete-user/${userId}`, {
                method: 'DELETE',
            })
                .then(response => response.json())
                .then(() => {
                    this.fetchUsers();
                })
                .catch(error => console.error('Error deleting user:', error));
        },
    },
};
</script>

<style scoped>
    .title_bo_clients {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
    .liste_bo_clients {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .liste_bo_clients li {
        display: flex;
        align-items: center;
        padding: 16px 0;
        border-bottom: solid 1px #ccc;
        width: 100%;
    }
    .liste_bo_clients li > div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .liste_bo_clients li > div > div{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
    }

    .liste_bo_clients li input{
        padding: 8px 16px;
        border: 1px solid #b19cd9;
        border-radius: 30px;
    }
    .liste_bo_clients li button {
        cursor: pointer;
        padding: 8px 16px;
        background: #b19cd9;
        font-size: 14px;
        border-radius: 30px;
        color: #fff;
        border: solid 1px #b19cd9;
    }
</style>
