<template>
    <div>
        <h1 class="title_bo_coiffeurs">Page admin back office coiffeurs</h1>
        <ul class="liste_bo_coiffeurs">
            <li v-for="(coiffeur, index) in coiffeurs" :key="index">
                <div v-if="!coiffeur.editMode">
                    <div>
                        <p>{{ coiffeur.nom_coiffeur }}</p>
                    </div>
                    <div>
                        <button @click="toggleEditMode(coiffeur)">Editer</button>
                        <button @click="deleteCoiffeur(coiffeur.id_coiffeur)">Supprimer</button>
                    </div>
                </div>
                <div v-else>
                    <div>
                        <input v-model="coiffeur.editedNom" placeholder="Nouveau nom">
                    </div>
                    <div>
                        <button @click="saveChanges(coiffeur)">Enregistrer</button>
                        <button @click="toggleEditMode(coiffeur)">Annuler</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'BackOfficeCoiffeurs',
    data() {
        return {
            coiffeurs: [],
        };
    },
    created() {
        const user = localStorage.getItem('user');

        if (!user || user.trim() === '') {
            this.$router.push('/form-connexion');
        } else {
            const userObject = JSON.parse(user);

            if (userObject.type_user === 'client') {
                this.$router.push('/salons-list');
            } else if (userObject.type_user === 'professionnel') {
                this.$router.push('/create-salon');
            } else {
                this.fetchCoiffeurs();
            }
        }
    },
    methods: {
        fetchCoiffeurs() {
            fetch('http://localhost:8000/coiffeurs')
                .then(response => response.json())
                .then(data => {
                    this.coiffeurs = data;
                    console.log('Fetched Coiffeurs:', this.coiffeurs);
                })
                .catch(error => console.error('Error fetching coiffeurs:', error));
        },
        toggleEditMode(coiffeur) {
            if (!coiffeur.editMode) {
                coiffeur.editedNom = coiffeur.nom_coiffeur;
            }

            coiffeur.editMode = !coiffeur.editMode;
        },

        saveChanges(coiffeur) {
            const updatedCoiffeur = {
                id_coiffeur: coiffeur.id_coiffeur,
                nom_coiffeur: coiffeur.editedNom,
                salon_id: coiffeur.salon_id,
            };

            fetch(`http://localhost:8000/update-coiffeur/${coiffeur.id_coiffeur}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(updatedCoiffeur),
            })
                .then(response => response.json())
                .then(() => {
                    this.fetchCoiffeurs();
                })
                .catch(error => console.error('Error updating coiffeur:', error));
            coiffeur.editMode = false;
        },
        deleteCoiffeur(coiffeurId) {
            fetch(`http://localhost:8000/delete-coiffeur/${coiffeurId}`, {
                method: 'DELETE',
            })
                .then(response => response.json())
                .then(() => {
                    this.fetchCoiffeurs();
                })
                .catch(error => console.error('Error deleting coiffeur:', error));
        },
    },
};
</script>

<style scoped>
    .title_bo_coiffeurs {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
    .liste_bo_coiffeurs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .liste_bo_coiffeurs li {
        display: flex;
        align-items: center;
        padding: 16px 0;
        border-bottom: solid 1px #ccc;
        width: 100%;
    }
    .liste_bo_coiffeurs li > div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .liste_bo_coiffeurs li > div > div{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
    }

    .liste_bo_coiffeurs li input{
        padding: 8px 16px;
        border: 1px solid #b19cd9;
        border-radius: 30px;
    }
    .liste_bo_coiffeurs li button {
        cursor: pointer;
        padding: 8px 16px;
        background: #b19cd9;
        font-size: 14px;
        border-radius: 30px;
        color: #fff;
        border: solid 1px #b19cd9;
    }
</style>