<template>
    <div>
        <h1 class="title_bo_salons">Page admin back office salons</h1>
        <ul class="liste_bo_salons">
            <li v-for="(salon, index) in salons" :key="index">
                <div v-if="!salon.editMode">
                    <div>
                        <p>{{ salon.nom_salon }}</p>
                        <p>{{ salon.emplacement }}</p>
                    </div>
                    <div>
                        <button @click="toggleEditMode(salon)">Editer</button>
                        <button @click="deleteSalon(salon.id_salon)">Supprimer</button>
                    </div>
                </div>
                <div v-else>
                    <div>
                        <input v-model="salon.editedNom" placeholder="Nouveau nom">
                        <input v-model="salon.editedEmplacement" placeholder="Nouvel emplacement">
                    </div>
                    <div>
                        <button @click="saveChanges(salon)">Enregistrer</button>
                        <button @click="toggleEditMode(salon)">Annuler</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'BackOfficeSalons',
    data() {
        return {
            salons: [],
        };
    },
    created() {
        const user = localStorage.getItem('user');

        if (!user || user.trim() === '') {
            this.$router.push('/form-connexion');
        } else {
            const userObject = JSON.parse(user);

            if (userObject.type_user === 'client') {
                this.$router.push('/salons-list');
            } else if (userObject.type_user === 'professionnel') {
                this.$router.push('/create-salon');
            } else {
                this.fetchSalons();
            }
        }
    },
    methods: {
        fetchSalons() {
            fetch('http://localhost:8000/salons')
                .then(response => response.json())
                .then(data => {
                    this.salons = data;
                    console.log('Fetched Salons:', this.salons);
                })
                .catch(error => console.error('Error fetching salons:', error));
        },
        toggleEditMode(salon) {
            if (!salon.editMode) {
                salon.editedNom = salon.nom_salon;
                salon.editedEmplacement = salon.emplacement;
            }

            salon.editMode = !salon.editMode;
        },

        saveChanges(salon) {
            const updatedSalon = {
                id_salon: salon.id_salon,
                nom_salon: salon.editedNom,
                emplacement: salon.editedEmplacement,
                proprietaire_id: salon.proprietaire_id,
            };

            fetch(`http://localhost:8000/update-salon/${salon.id_salon}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(updatedSalon),
            })
                .then(response => response.json())
                .then(() => {
                    this.fetchSalons();
                })
                .catch(error => console.error('Error updating salon:', error));
            salon.editMode = false;
        },
        deleteSalon(salonId) {
            fetch(`http://localhost:8000/delete-salon/${salonId}`, {
                method: 'DELETE',
            })
                .then(response => response.json())
                .then(() => {
                    this.fetchSalons();
                })
                .catch(error => console.error('Error deleting salon:', error));
        },
    },
};
</script>

<style>
    .title_bo_salons {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
    .liste_bo_salons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .liste_bo_salons li {
        display: flex;
        align-items: center;
        padding: 16px 0;
        border-bottom: solid 1px #ccc;
        width: 100%;
    }
    .liste_bo_salons li > div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .liste_bo_salons li > div > div{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
    }

    .liste_bo_salons li input{
        padding: 8px 16px;
        border: 1px solid #b19cd9;
        border-radius: 30px;
    }
    .liste_bo_salons li button {
        cursor: pointer;
        padding: 8px 16px;
        background: #b19cd9;
        font-size: 14px;
        border-radius: 30px;
        color: #fff;
        border: solid 1px #b19cd9;
    }
</style>